h1 {
    font-family: Avenir;
    font-weight: lighter;
    font-size: 50px;
    padding-top: 40px;
    padding-left: 30px;
}

#dayCTA {font-family: "Avenir";
    font-size:30px;
    text-align:center;
    color: orange;
    padding-left: 30px;
    letter-spacing: 4px;
    
}
   
p {
    padding-left: 30px;
    font-family: "Avenir";
    font-size: 20;
}

#result {
    font-family: "Avenir";
    font-size: 20;
    padding: 20px;
    line-height: auto;
    letter-spacing: 0.7px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.name, .adj, .body, .insect, .verb{
    color: red;
    font-weight: 500;
}

